<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {%- include head.html -%}

  <body>

    {%- include header.html -%}

    <main class="page-content" aria-label="Content">
      <div class="wrapper">
        {{ content }}
        
        <header>
          {% if site.github.is_project_page %}
          <p class="view"><a href="{{ site.github.repository_url }}">View the Project on GitHub <small>{{ site.github.repository_nwo }}</small></a></p>
          {% endif %}
          
          {% if site.github.is_user_page %}
          <p class="view"><a href="https://twitter.com/Jonnygfrazer">My Twitter Profile </a><br><a href="{{ site.github.owner_url }}">My GitHub Profile </a><br><a href="mailto:jonathan_frazer@hms.harvard.edu">Contact Me </a></p>
          {% endif %}
        </header>
      </div>
    </main>

    {%- include footer.html -%}

  </body>

</html>
